/* CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  header {
    background-color: #fff;
  }
  .navbar {
    background-color: #fff;
  }
  
  .navbar-brand,
  .navbar-nav {
    flex: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-nav .nav-link {
    margin: 0 5px;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #555;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-collapse {
    justify-content: left;
  }
  .nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background-color: #000;
    background: url("https://raw.githubusercontent.com/jlop007/apple-replica-starter-files/f32121c360aa1ffce13f05690a8af5a6e071848d/apple-replica/images/icons/apple.svg") center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("https://raw.githubusercontent.com/jlop007/apple-replica-starter-files/f32121c360aa1ffce13f05690a8af5a6e071848d/apple-replica/images/icons/search.svg") center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("https://raw.githubusercontent.com/jlop007/apple-replica-starter-files/f32121c360aa1ffce13f05690a8af5a6e071848d/apple-replica/images/icons/bag.svg") center no-repeat;
}
/* Styling untuk popup */
.popup {
  display: -moz-popup;
  margin-top: 20px;
}

/* Hover effect untuk tombol close */
.close-btn:hover {
  color: red; /* Ubah warna menjadi merah saat dihover */
}

  
  .btn-outline-success {
    color: #fff;
    border-color: #fff;
  }
  
  .btn-outline-success:hover {
    color: #333;
    background-color: #fff;
  }

.biru-text{
  color: blue;
}
  .kolom {
    display: flex;
    flex-direction: column;
}

.text {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.text-2{
    margin-left: 70px;
    margin-top: 10px;
    justify-content: left;
}
.text-3 {
  margin-left: 70px;
  margin-top: 10px;
  margin-right: 70px;
  justify-content: left;
}
#carouselExampleControls .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#carouselExampleControls .row .col {
  padding: 0;
}

#carouselExampleControls .row .col div {
  height: 200px; /* atur tinggi gambar */
  padding: 10px; /* atur jarak gambar */
  overflow: hidden;
}

#carouselExampleControls .row .col div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  margin-left: 70px;
}
.barang {
  width: 1200px;
  margin-right: 0ch;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}                                                                          
                                             
.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  margin-right: 50px;
}

.footer-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer-left p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.footer-left form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-left input[type="email"] {
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-left button[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  background-color: #e64c4c;
  color: #fff;
  cursor: pointer;
}

.footer-right {
  flex: 1;
}

.footer-right h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer-right ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-right li {
  list-style: none;
}

.footer-right a {
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.footer-right a:hover {
  transform: translateY(-5px);
}

.copyright {
  font-size: 18px;
  margin-top: 30px;
  border-top: 1px solid #fff;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    flex: 1 0 100%;
    margin: 0;
  }

  .footer-left form {
    width: 80%;
  }
}


  
